@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');

$font-family: 'Reggae One', cursive;

h1 {
  font: normal normal 500 3rem/4rem $font-family;
  text-align: center;
  font-style: italic;

}

.container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(3, 30%);
}

.game-container {
  display: flex;
  flex-direction: row;
  margin: 0.5rem;
  background-color: lightblue;
  font: normal normal 500 1.25rem/1.25rem $font-family;
  font-style: italic;
  border-radius: 0.25rem;
  cursor: pointer;

  .game-item {
    margin: 1rem;
  }

  .active {
    font-weight: 900;
  }
}

.container-vert {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  background: lightblue;
  border-radius: 0.25rem;

  h2 {
    margin: 1rem;;
    font: normal normal 400 2rem/3rem $font-family;
  }

  label {
    margin: 0 1rem;
    font: normal normal 400 1.25rem/1.5rem $font-family;
  }

  input {
    margin: 1rem;
    width: 80%;
    font: normal normal 400 1rem $font-family;
    background: white;
  }

  .button {
    align-items: center;
    width: 50%;
    margin: 1rem;
  }
}

.button {
  font: normal normal 400 1rem $font-family;
  background-color: white;
  margin: auto;
}


.leaderboard {
  margin: 1rem auto;
  background: lightsalmon;
  border-radius: 0.25rem;
  width: 50%;
  font: normal normal 400 1.25rem/1.5rem $font-family;
  text-align: center;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}
